@use '../abstracts/mixins' as *;
@use '../abstracts/theme' as *;

header{
    @include flex-row(1rem);
    @include app-witdh;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-tfl-blue;
    margin-top:1.5rem;
    padding: 1.5rem;
    border-radius: 2rem;
    color: $secondary-white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

}

nav ul {
    @include flex-row(2rem);

}

.logo{
    height: 4rem;
}

.navbar__link{

    &--active{
      font-weight: 600;

    }
  }