@use '../abstracts/mixins' as *;
@use '../abstracts/theme' as *;

header {
    @include flex-row(2rem);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9999;
}


.logo {
    height: 8rem;
    width: auto;
    background-color: $primary-tfl-blue;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
}