@use '../abstracts/mixins' as *;
@use '../abstracts/theme' as *;

header {
    @include flex-row(1rem);
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 10rem;
    padding: 2rem 2rem;

 
}


.logo {
    height: 8rem;
    width: auto;
    -webkit-filter: drop-shadow(0px 0px 0px $primary-tfl-blue);
    filter: drop-shadow(0px 0px 3px $primary-tfl-blue);
}