// Primary Colors
$primary-bus-red: rgb(225,37,27);
$primary-tfl-blue: rgb(0,15,159);
$primary-tfl-yellow: rgb(255, 205,0);
$primary-tfl-green: rgb(0,121,52);


// Secondary Colors
$secondary-white: #ffffff;
$secondary-light-gray: #f4f6f8;
$secondary-gray: #dcdcdc;
$secondarty-dark-gray: #3b3c3e;

// Page Breakdowns
$desktop-max-width: 1440px;

// App Widths
$app-body: 95vw;

:root {
  // Light Theme
  --background: $secondary-light-gray;
  --text: $primary-light-violet;
  
  // Dark Theme
  &[data-theme='dark'] {
    --background: $primary-midnight;
    --text: $secondarty-dark-gray;
  } 
}

#root{
  max-width: $app-body;
  margin: 0 auto;
  
}
