@use '../abstracts/mixins' as *;

html {
  // 1 REM 
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
  }

li {
  list-style: none;
}

main{ 
  @include app-witdh;
  margin: auto 1rem;
  margin-top: 10rem;
}